#include <stdio.h>
#include <stdlib.h>




int get_random(int max){
    int divisor = RAND_MAX/(max+1);
    int retval;
        do { 
          retval = rand()/divisor;
        }while ( retval>max);
        return retval;
        
}
int main (){
    int numberofdice, numberoffaces,result,q=0 or char c, i;




while (q==0){
//




  printf ("How many dice?");
 scanf ("%d",&numberofdice);

printf ("How many faces?");
scanf ("%/d", &faces");

for(i=0; i<numberofdice; i++){
     result=get_random(faces-1)+1;
     printf("%d\n", result);
}

printf ("Do you want to continue? y/n");
 scanf ("%c", ?&c);
    if (c=='n')
    q=1;
}




    return 0;
}

